<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% endblock %}
    </head>
    <header>
    {% block header %}
    <div id="sidebar">
        {% include 'site/menus.html.twig' %}
    </div>
    {% endblock %}
  </header>
    <body>
      {% block body %}
      <div id="content">
        <div class="row">
          <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
              <div class="mdb-lightbox no-margin">
                <figure class="col-md-4">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                  </a>
                </figure>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
    </body>
</html>
