<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </head>
    {% block header %}
      <header>
      <div id="sidebar">
          {% include 'exsite/menus.html.twig' %}
      </div>
      </header>
    {% endblock %}
<body>
  {% block body %}
          </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body" >
      <h5 class="card-title">l'Astronomie</h5>
        <p class="card-text">
          Les astronomes amateurs observent une variété d'objets célestes, au moyen d'un équipement qu'ils construisent parfois eux-mêmes. Les cibles les plus communes pour un astronome amateur sont la Lune, les planètes, les étoiles, les comètes, les essaims météoritiques, ainsi que les objets du ciel profond que sont les amas stellaires, les galaxies et les nébuleuses. Une branche de l'astronomie amateur est l'astrophotographie, consistant à photographier le ciel nocturne. Une partie des amateurs aime se spécialiser dans l'observation d'un type d'objet particulier.

    La plupart des amateurs observent le ciel aux longueurs d’onde visibles, mais une minorité travaille avec des rayonnements hors du spectre visible. Cela comprend l'utilisation de filtres infrarouges sur des télescopes conventionnels, ou l'utilisation de radiotélescopes. Le pionnier de la radioastronomie amateur était Karl Jansky qui a commencé à observer le ciel en ondes radio dans les années 1930. Un certain nombre d'amateurs utilisent soit des télescopes fabriqués de leurs mains, soit des télescopes qui ont été construits à l'origine pour la recherche astronomique mais qui leur sont maintenant ouverts (par exemple le One-Mile Telescope).

    Une certaine frange de l'astronomie amateur continue de faire progresser l'astronomie. En fait, il s'agit de l'une des seules sciences où les amateurs peuvent contribuer de manière significative[réf. nécessaire]. Ceux-ci peuvent effectuer les calculs d'occultation qui servent à préciser les orbites des planètes mineures. Ils peuvent aussi découvrir des comètes, effectuer des observations régulières d'étoiles doubles ou multiples. Les avancées en technologie numérique ont permis aux amateurs de faire des progrès impressionnants dans le domaine de l'astrophotographie.
    </div>
  </div>
  {% endblock %}
  {% block footer %}
  <footer>
      {% include 'exsite/footer.html.twig' %}
  </footer>
  {% endblock %}
</body>
</html>
