<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </head>
    <header id="black">
    {% block header %}
        {% include 'exsite/menus.html.twig' %}
    {% endblock %}
  </header>
    <body>
      {% block body %}
      <section class="contact-section text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-15 mx-auto">
              <h2 class="mb-4">Contact</h2>
              <p class="text-white-50">
                Une question ? Une demande particulière ? Veuillez utiliser ce formulaire de contact, nous reviendrons vers vous dans les plus brefs délais.
                <br>
                Pour toutes informations n'hésitez pas à nous contacter
              </p>
            </div>
          </div>
        </div>
      </section>
      <div id="formulaire">
          <h2>Formulaire de Contact</h2>
             <h3>{{ form(form) }}</h3>
      </div>
        {% endblock %}
      </body>
      {% block footer %}
      <footer>
          {% include 'exsite/footer.html.twig' %}
      </footer>
      {% endblock %}
</html>
