<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% endblock %}
    </head>
    <header>
    {% block header %}
    <div id="sidebar">
        {% include 'site/menus.html.twig' %}
    </div>
    {% endblock %}
  </header>
    <body>
      {% block body %}
      <div id="content">
          <h1>{{ form(form) }}</h1>
      </div>
        {% endblock %}
    </body>
</html>
