<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="CASA, Club d'Astronomie de Signy l'Abbaye, Contacter-nous">
        <meta name="author" content="ViotSébastien">
        <meta name="google-site-verification" content="_jzde4T6wU6jPUysZEGrS3T7joUSF8wDU_EOmk45G8s" />
        <meta Name="keywords" content="caramentoire,astronomie, Signy l'Abbaye,astrosigny,casa-astronomie,contacter,ardennes,centre ardennes,Ardennes,Centre Ardennes,ardennes astronomie">
        <link rel="shortcut icon" href="{{asset('build/images/LogoSimplebleu.png')}}" type="image/x-icon" />
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </head>
    <header id="black">
    {% block header %}
        {% include 'exsite/menus.html.twig' %}
    {% endblock %}
  </header>
    <body>
      {% block body %}
      <section class="contact-section text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-15 mx-auto">
              <h2 class="mb-4">Contact</h2>
              <p class="text-white-50">
                Une question ? Une demande particulière ? Veuillez utiliser ce formulaire de contact, nous reviendrons vers vous dans les plus brefs délais.
                <br>
                Pour une demande d'animation, merci de fournir les renseignements suivants :
                <br>
                Le cadre d'intervention (scolaire, centre aéré, public ...).
                <br>
                Le lieu et les conditions d'intervention (salle de classe, gymnase, plein air ...).
                <br>
                Le public concerné (âge ou niveau scolaire) et son effectif.
                <br>
                L'encadrement qui sera fourni.
                <br>
                Le type de prestation demandé (Chemin des planètes, Observation(jour,nuit), Fusée à Eau, Initiations, ...).
                <br>
                Des propositions de date.
                <br>
                Pour toutes informations n'hésitez pas à nous contacter.
              </p>
            </div>
          </div>
        </div>
      </section>
      <div id="formulaire">
          <h2>Formulaire de Contact</h2>
             <h3>{{ form(form) }}</h3>
      </div>
        {% endblock %}
      </body>
      {% block footer %}
      <footer>
          {% include 'exsite/footer.html.twig' %}
      </footer>
      {% endblock %}
</html>
