<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block stylesheets %}
  <!-- Custom fonts for this template -->
  <link href="{{asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{asset("build/css/app.css")}}" rel="stylesheet">
 {% endblock %}
</head>
{% block body %}
<body>
<div class="cox-animation"></div>
</body>
{% endblock %}
</html>
