<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </head>
    {% block header %}
      <header>
      <div id="sidebar">
          {% include 'exsite/menus.html.twig' %}
      </div>
      </header>
    {% endblock %}
    {% block body %}
      <body>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{asset('build/images/observatoire1.jpg')}}" alt="First slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
       </body>
    {% endblock %}
    {% block footer %}
    <footer class="mainfooter" role="contentinfo">
      {% include 'exsite/footer.html.twig' %}
    </footer>
    {% endblock %}
</html>
