<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="CASA, Club d'Astronomie de Signy l'Abbaye">
        <meta name="author" content="ViotSébastien">
        <meta name="google-site-verification" content="_jzde4T6wU6jPUysZEGrS3T7joUSF8wDU_EOmk45G8s" />
        <meta Name="keywords" content="caramentoire,astronomie, Signy l'Abbaye,astrosigny,casa-astronomie,observatoire de dommery">
        <link rel="shortcut icon" href="{{asset('build/images/LogoSimplebleu.png')}}" type="image/x-icon" />
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </head>
    {% block header %}
      <header id="black">
          {% include 'exsite/menus.html.twig' %}
      </header>
    {% endblock %}
    {% block body %}
      <body>
        <section class="observatoire-section text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <h2 class="mb-4">Observatoire CASA</h2>
                <p class="text-white-50">
                  Crée en 2018 est mise en service fin juillet 2018. l'Observatoire ce situe dans la commune de Dommery dans les Ardennes français à environs 5km de Launois sur Vence et Signy l'Abbaye.
                  <br>
                  Pour toutes informations n'hésitez pas à nous contacter
                </p>
              </div>
            </div>
          </div>
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{{asset('build/images/observatoire1.jpg')}}" alt="First slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
       </body>
    {% endblock %}
    {% block footer %}
    <footer class="mainfooter" role="contentinfo">
      {% include 'exsite/footer.html.twig' %}
    </footer>
    {% endblock %}
</html>
