@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "grayscale.scss";

$color: black;

body {
font-family: 'Montserrat', sans-serif;
line-height: normal;
}

header {
  width: auto;
  height: auto;
}
// ******************************* Nav **********************************


.modal-body {
  height: auto;
  width: auto;
}
// ******************************* Body **********************************
.card
{
  //background: #3d6277;
  color: black;
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  //background: silver;
}

.card-deck{
  margin-left: 230px;
  margin-right: 40px;
  margin-top: 20
}

.transition{
  height: 100px;
  width: auto;
  img{
      height: 50px;
      width: 60px;
      margin-top: 30px;
      margin-left: 48%;
  }
}

section{
  height: auto;
}

#content {
  border: 2px solid $color;
  border-radius: 8px;
  text-align: justify;
  position: relative;
  width: 82%;
  height: auto;
  margin: 10px;
  margin-left: 100px;
  padding: 10px;
}

p{
  text-align: justify;
  margin: 10px;
}
// ******************************* Formulaire **********************************
#black{
background-color: black;
width: auto;
height: 90px;
}

#formulaire {
  border: 2px solid $color;
  border-radius: 8px;
  text-align: justify;
  color: $color;
  width: 50%;
  height: auto;
  left: 350px;
  padding: 10px;
  margin: auto;
  margin-top: 60px;
  background-image: url('images/contact.jpg');
  label.required
  {
    margin: 5px;
  }
  input#contact_name
  {
    margin: 5px;
    margin-right: 10px;
  }
  input#contact_email
  {
    margin: 5px;
    margin-right: 10px;
  }
  textarea#contact_message
  {
    margin: 5px;
    margin-right: 10px;
  }
  button#contact_save
  {
    margin: 5px;
    margin-right: 10px;
  }
  h2
  {
    text-align: center;
  }
}
// ******************************* Footer **********************************
.footer-bottom{
    margin-top: 10px;
    color: $color;
}

.footer-middle{
  padding-top: 2em;
  color: $color;
  margin-top: 15px;
  margin-bottom: 2px;
}


.cox-animation {
 animation: cox 10s linear infinite;
 height: 50px;
 background-repeat: no-repeat; 
 background-size: 150px;
}

@keyframes cox {
 
 from {
   transform: translate(0px);
   background-image: url("coxaller.jpg");
 }

 50% {
   transform: translate(93%);
    }
  
 to {
  background-image: url("coxretour.jpg");
   transform: translate(0px);
 }
}

