<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
          {% form_theme createmanifestation 'bootstrap_4_layout.html.twig' %}
        {% endblock %}
        
        {% block javascripts %}
          {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </head>
    <header>
    {% block header %}
    <div id="sidebar">
        {% include 'exsite/menus.html.twig' %}
    </div>
    {% endblock %}
  </header>
    <body>
      {% block body %}
      <div id="formulaire">
          <h2>Ajouter Manifestation </h2>
          <h3>{{ form(createmanifestation) }}</h3>
      </div>
        {% endblock %}
      </body>
      {% block footer %}
      <footer>
          {% include 'exsite/footer.html.twig' %}
      </footer>
      {% endblock %}
</html>
