  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Address</h4>
          <address>
								<ul class="list-unstyled">
									<li>
                    Club d'astronomie de Signy L'abbaye<br>
										Médiathèque Centre Social Yves Coppens<br>
										27 Rue de Thin<br>
										08460 Signy-l'Abbaye<br>
									</li>
									<li>
										Téléphone : 03 24 56 93 02
									</li>
								</ul>
							</address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column2-->
        <div class="footer-pad">
          <h4>Réseau Social</h4>
          <ul class="list-unstyled">
            <li><a href="facebook"><img src="" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p class="text-xs-center">&copy; Copyright @strosigny 2019; All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
