<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% endblock %}
    </head>
    <header>
    {% block header %}
    <div id="sidebar">
        {% include 'exsite/menus.html.twig' %}
    </div>
    {% endblock %}
  </header>
    <body>
      {% block body %}
      <div id="content">
        Créée en 1998 par un groupe de passionnés d’astronomie à l’initiative de Michel Jacob qui en fut le premier président .<br> <br>Le Club d’Astronomie de Signy l’Abbaye et ses Environs ( le CASA ) a pour but de promouvoir et de faire découvrir la culture scientifique .<br><br> Divisé en 3 sections : l’astronomie , l’astronautique et l’étude des cadrans solaires ( la gnomonique ) . <br><br>Depuis le début de ses activités , le club sort ses instruments lors des manifestations locales ou dans des villages aux alentours afin de faire découvrir les merveilles du ciel à tout public avec du matériel très performant pour les enfants et les adultes .<br><br>Et en particulier: la nouvelle monture spécialement adaptée aux personnes à mobilité réduite , équipée d’une paire de jumelles géantes de 100 mm ( l’équivalent d’un télescope dans chaque œil ).<br><br>Grande manifestation annuelle: quand le temps le permet, la nuit des étoiles  réunit à chaque fois des dizaines de participants . <br><br>Mais le club d’astronomie ne se résume pas seulement à la nuit des étoiles , les membres se réunissent le 2 ème vendredi du mois pour observer , discuter dans une ambiance conviviale  des manifestations à venir et appréhender les phénomènes célestes tels que lesphases de la lune , les satellites des différentes planètes et former les nouveaux adhérents .... <br><br> Toutes les réunions se passent dans le local du club à la médiathèque  ou au nouvel observatoire de Dommery afin de profiter d’un aménagement bien conçu pour le stockage et le déplacement du matériel . <br><br> Vous voulez découvrir le ciel , comprendre les phénomènes célestes, observer pendant de longues heures Jupiter et les anneaux de Saturne ou tout simplement jeter un coup d’œil curieux dans un oculaire d’un instrument , n’hésitez pas à les rejoindre! Ils vous accueilleront avec le plus grand desplaisirs! Adultes comme les enfants .Le club dispose également d’un chemin des planètes , long de 7 kms , il représente le soleil et toutesles planètes du système solaire le tout à la même échelle avec des informations sur les astres , ce circuit de randonné est praticable à pied , en VTT ou à cheval et même pour des personnes à mobilité réduite .
      </div>
        {% endblock %}
        {% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
    </body>
</html>
