<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astronomie{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </head>
    <header>
    {% block header %}
    <div id="sidebar">
        {% include 'exsite/menus.html.twig' %}
    </div>
    {% endblock %}
  </header>
  <body>
    {% block body %}
    <div class="card">
      <div class="card-body" >
        <h5 class="card-title">Bienvenue</h5>
          <p class="card-text">{% trans %}%text%{% endtrans %}</p>
      </div>
    </div>
    {% endblock %}
  </body>
  {% block footer %}
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Adresse</h4>
            <address>
                  <ul class="list-unstyled">
                    <li>
                      {% trans %}%bas%{% endtrans %}
                    </li>
                  </ul>
                </address>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column2-->
          <div class="footer-pad">
            <h4>Réseau Social</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.facebook.com/profile.php?id=100011194717375"><img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV59B0D8iRczLktHkvnONKQlDive6jeaI9ARlH94wPKdBAvOii" alt="" width="50px" height="50px" ></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!--Footer Bottom-->
              <p class="text-xs-center">&copy; Copyright @strosigny 2019; All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
  </footer>
  {% endblock %}
</html>
